/*
* @Author: admin
* @Date:   2018-03-08 19:03:19
* @Last Modified by:   admin
* @Last Modified time: 2018-03-08 19:07:47
*/

.mb10{
margin-bottom:10px
}
.ml10{
margin-left: 10px;
}
.mr10{
margin-right: 10px;
}
.color{
	color: rgb(154, 152, 152)
}
